body {
    background: url('./guitar-texture.jpg') no-repeat;
    background-size: cover;
    color: lawngreen;
    border: 5px; border-style blue;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    flex-direction: column;
    margin: 20px;
}

.selectors {
    background: url('./guitar-back.jpg');
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
    text-align: center;
}

.select-text {
    font-size: 5vw;
    margin: 10px;
}

.chordbox {
    margin: 60px 10px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.chord-chart {
    margin: 20px auto;
    font-size: 11px;
}

h1 {
    font-size: 4vh;
}

select {
    width: 160px;
    height: 100px;
    font-size: 48px;
    text-align: center;
    margin: 5px;
}